<plugin id="com.phonegap.plugins.video" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>VideoPlayer</name>
    <description>Cordova Video Player Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,video player</keywords>
    <js-module src="www/video.js" name="videoPlayer">
        <merges target="window.plugins.videoPlayer" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.phonegap.plugins.video" />
            </feature>
        </config-file>
        <source-file src="src/VideoPlayer.java" target-dir="src/com/phonegap/plugins/video" />
    </platform>
</plugin>
